service: git-actions

custom:
  service: ${opt:service, 'git-actions'}
  stage: ${opt:stage, 'dev'}

  defaultStage: dev

  region:
    dev: us-east-2

  deploymentbucket:
    dev: skupreme-app-serverless-dev-us-east-2

  accountId:
    dev: 502379106765

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, self:custom.defaultStage}
  profile: ${self:custom.profiles.${self:provider.stage}}
  region: ${self:custom.region.${self:provider.stage}}
  environment: ${file(env.yml):${self:custom.stage}}

functions:
  actions:
    handler: src/connection.sampleAction
    memorySize: 128
    timeout: ${file(env.yml):${self:custom.stage}.AWS_LAMBDA_TIMEOUT}
