name: Node.js Package

on:
  push:
    branches:
      - main

jobs:
  publish-gpr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://npm.pkg.github.com/
          scope: "@sparsh94khandelwal"
      - name: version bump
        working-directory: ./nested-repo
        run: |
          npm version patch
          npm install
          npm publish
          git push
          git push --tags
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
