name: Node.js Package

on:
  push:
    branches:
      - main

jobs:
  publish-gpr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Dotenv Action
        uses: falti/dotenv-action@v0.2.5
      - run: |
          echo ${{ AWS_LAMBDA_TIMEOUT }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
